* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: [Outfit](https://fonts.google.com/specimen/Outfit), serif;
    font-size: 15px;
    background-color: hsl(212, 45%, 89%);
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    background-color: hsl(0, 0%, 100%);
    width: 320px;
    padding: 16px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.card img {
    width: 100%;
    border-radius: 10px;
    
}

.title {
    margin: 10px;
    font-size: 1.5em;
    font-weight: 700;
    justify-content: center;
    text-align: center;
    padding: 10px;
}

.description {
    font-size: 1.2em;
    font-weight: 400;
    color: hsla(216, 15%, 48%, 0.7);
    text-align: center;
    margin: 0 8px 20px;
}
